* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
}
.game-board {
    margin:20px auto;
    padding:20px;
    grid-gap:10px;
    justify-content: center;
    border-style:solid;
    background-color:black;
    display:grid;
}
h1 {
    font-size: 2.5rem; 
}

.introduction {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    border-style:solid;
    border-color: black;
    align-items: center;
    justify-content: center;
    border-width: 5px;
    padding: 2.5vw;
}

.home-button {
    display: none;
}
/* button source:https://www.designskilz.com/cool-css-buttons/ */
button{
    background:black;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 1em;
    cursor:pointer;
    margin-bottom: 40px;
    transition:800ms ease all;
    outline:none;
    margin-right: 10px;
    margin-top: 60px;
  }
  button:hover{
    background:#fff;
    color:black;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background:black;
    transition:400ms ease all;
  }
  .start-btn:before, button:after {
    background:black;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
.general-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
p {
    font-size: 1em;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive; */
    word-break: break-word;
    text-align: center;
}

img {
    width: 150px;
    height:150px;
    margin: 10px;
    border-radius:15%;
    border-style:solid;
    border-color:white;
}

.personal-webpage {
    color:white !important;
    text-transform: uppercase;
    text-decoration: none;
    background:black;
    padding: 11px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.personal-webpage:hover {
    text-shadow: 0px 0px 6px rgba(224, 212, 212);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.general-info {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.remaining-time {
    display: none;
}
.size {
    display:none;
}

.restart-btn {
    display: none;
}

.quit-btn {
    display: none;
}
.game-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.row {
    width:auto;
    height:100px;  
    border-style:solid;
    border-color:red;
}

.cols {
    width:auto;
    height:100px;
    border-style:solid;
    border-color:blue;
}


.size {
    text-align: center;
    /* padding:5px; */
    margin: 5px;
    padding: 20px;
    padding-bottom: 50px;
    width: 10vw;
}


.statement {
    border-style: solid;
    border-width: 3px;
    display: none;
    text-align: center;
    padding: 50px;
    vertical-align: middle;
    font-size: 4rem;
    display:hidden;
    
}
.hidden {
    display: none;
}

.wining-statement {
    display: none;
}

.score {
    display: none;
    font-size: 25px;
}
.control-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.remaining-time {
    background-color: white;
    color: black;
    padding: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border: 2px solid black;
    margin-inline-start: 20px;
    border-radius: 40px;
    font-size: 1.5em;
}

.score {
    background-color: white;
    color: black;
    padding: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border: 2px solid black;
    margin-inline-start: 20px;
    border-radius: 40px;
    font-size: 1.5em;
}

@media (max-width: 600px) {
    img {
        width: 26vw;
        height:26vw;
        margin: 10px;
        border-radius:15%;
        border-style:solid;
        border-color:white;
    }
    .game-board {
        grid-template-columns: repeat(2, auto) !important;
    }

    .size {
        width: 21vw;
    }
  }